<div class="m-topbar--row">

  <a class="m-topbar--logo" routerLink="/">
    <img [src]="minds.cdn_assets_url + 'assets/logos/bulb.svg'" />
  </a>

  <ng-content select="[search]"></ng-content>

  <m-topbar--navigation></m-topbar--navigation>

  <div class="m-layout--spacer"></div>

  <div class="m-topbar--icons" *ngIf="session.isLoggedIn()">
    <ng-content select="[icons]"></ng-content>
  </div>

  <button class="m-btn m-btn--action m-btn--slim m-btn--boost"
          [routerLink]="['/boost/console/newsfeed/history', { 'toggled':true}]"
          *ngIf="session.isLoggedIn()">
    <ng-container i18n="verb|@@M__ACTION__BOOST">Boost</ng-container>
  </button>

  <div class="m-topbar--account" *ngIf="session.isLoggedIn()" #menu>
    <a (click)="menu.value = !menu.value">
      <img src="/icon/{{session.getLoggedInUser().guid}}/small/{{session.getLoggedInUser().icontime}}" />
    </a>
    <ul class="minds-dropdown-menu m-dropdown--menu" [hidden]="!menu.value">
      <li class="mdl-menu__item"
          *ngIf="session.isLoggedIn()"
          (click)="menu.value = false"
      >
        <a
          [routerLink]="['/', session.getLoggedInUser().username]"
          i18n="@@MINDS__TOPBAR__VIEW_CHANNEL"
        >
          View Channel
        </a>
      </li>
      <li class="mdl-menu__item"
          *ngIf="session.isLoggedIn() && session.isAdmin()"
          (click)="menu.value = false"
      >
        <a
          [routerLink]="['/admin/analytics']"
          i18n="@@MINDS__TOPBAR__ADMIN"
        >
          Admin
        </a>
      </li>
      <li class="mdl-menu__item"
          *ngIf="session.isLoggedIn()"
          (click)="menu.value = false"
      >
        <a
          [routerLink]="['/settings/general']"
          i18n="@@MINDS__TOPBAR__SETTINGS"
        >
          Settings
        </a>
      </li>
      <li class="mdl-menu__item"
          (click)="menu.value = false"
      >
        <a
          [routerLink]="['/faq']"
          i18n="@@MINDS__TOPBAR__FAQ"
        >
          FAQ
        </a>
      </li>
      <li class="mdl-menu__item"
          (click)="menu.value = false"
      >
        <a
          [routerLink]="['/groups/profile/', '100000000000000681']"
          i18n="@@MINDS__TOPBAR__HS_GROUP"
        >
          Help & Support
        </a>
      </li>
      <li class="mdl-menu__item"
      >
        <a
          target="_blank"
          [href]="minds.cdn_assets_url + 'assets/documents/Whitepaper-v0.3.pdf'"
        >
          Whitepaper
        </a>
      </li>
      <li class="mdl-menu__item"
          *ngIf="session.isLoggedIn()"
          (click)="menu.value = false"
      >
        <a
          [routerLink]="['/logout']"
          i18n="@@MINDS__TOPBAR__LOGOUT"
        >
          Logout
        </a>
      </li>
    </ul>
    <div class="minds-bg-overlay" (click)="menu.value = !menu.value" [hidden]="!menu.value"></div>
  </div>


  <button class="m-btn m-btn--action m-btn--login m-btn--slim" *ngIf="!session.isLoggedIn()" [routerLink]="['/login']">
    <ng-container i18n="@@M__ACTION__LOGIN">Login</ng-container>
  </button>
</div>

<div class="m-topbar--toaster"> <!--*ngIf="session.isLoggedIn() && notifications"-->
  <ng-template dynamic-host></ng-template>
</div>
